@import "~bootstrap/scss/bootstrap";

$background: #eefbfb75;
$dark-blue: #12232e;
$light-blue: #007cc7;
$lightest-blue: #4da8da;
$shadow-dark-blue: #203647;
$shadow-light-blue: #eefbfb;
$md-width: 768px;

#main-container,
#root,
html,
body {
	background-color: $background;
	height: 100%;
}

#navbar {
	background-color: $light-blue;
	.navbar-brand {
		font-weight: bold;
		color: $shadow-dark-blue;
		padding-right: 1em;
		border-right: 1px solid white;
	}
	.nav-link {
		color: $shadow-light-blue;
		padding: 0 0.7em;

		&:hover {
			font-weight: bold;
		}
	}
}

.width-90-centered {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#resource-table {
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 90%;

	td {
		border: none;
		overflow: hidden;
		word-wrap: break-word;
	}
	.drag-cell {
		width: 2%;
	}

	.property-cell {
		width: 15%;
	}
	td.property-cell {
		//text-transform: capitalize;
		font-weight: 500;
	}

	.value-cell {
		width: 75%;
	}

	.show-cell {
		width: 4%;
		text-align: center;
	}
}

#footer {
	width: 98%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #20364790;
	p {
		float: left;
		padding: 8px;
		margin: 0;
		color: #eefbfb;
	}
	button {
		display: block;
		margin-left: auto;
		margin-right: 1px;
	}
}

#notfound-container {
	margin-top: 5em;

	text-align: center;
	button {
		font-weight: bold;
		background-color: $lightest-blue;
		border-radius: 20px;
		padding: 10px 16px;
		border-width: 0;
		&:hover {
			background-color: $light-blue;
		}
	}
}

.value-container {
	margin-bottom: 1em;
	div.col {
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
	}
	.editButtonSpan {
		float: right;
	}
}

.modified {
	color: #4169e1;
	font-weight: bold;
	font-size: 1.2em;
}

#editButtonSpan {
	font-weight: normal;
	color: black;
	margin-left: 10px;
}

.editButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 2px;
}

.btn-span {
	margin-right: 0;
	margin-top: auto;
	margin-bottom: auto;
}

#modifica {
	color: blue;
}

#applica {
	color: green;
}

#annulla {
	color: red;
}

.resource-preview {
	margin: 10px 0;
	border: 1px solid #007cc740;
	border-radius: 15px;
	&:hover {
		background-color: #007cc735;
		cursor: pointer;
	}
	.result-title {
		font-weight: 500;
		font-size: 1.3em;
		margin-bottom: 5px;
		float: left;
	}
	.result-url {
		font-weight: light;
		text-align: right;
		color: #aaa;
	}
}
